body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.thank-you-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #55BA53;
}

p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #55BA53;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0A2940;
}

@media(max-width:568px)
{
    .thank-you-container {
        font-size: 50%;
    }
}